/* ==================================================== */
/* ================== VARIABLES CSS =================== */
/* ==================================================== */
:root {
  --header-height: 3.5rem;
  --footer-height: 3.5rem;
  /*========== Colors ==========*/
  --background-color: #000000;
  --brown-color: #471d07;
  --orange-color: #a2520d;
  --yellow-color: #d9a849;
  --text-color: #ffffff;
  --gradient-top: linear-gradient(90deg, #d9a849 0%, #a2520d 100%);
  --gradient-left: linear-gradient(
    90deg,
    rgba(162, 82, 13, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  --gradient-right: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(162, 82, 13, 0.5) 100%
  );
  --gradient-bottom: linear-gradient(
    359.4deg,
    rgba(162, 82, 13, 0.5) 0.52%,
    rgba(0, 0, 0, 0.5) 99.48%
  );
  --button-gradient: linear-gradient(
    90deg,
    rgba(217, 168, 73, 1) 0%,
    rgba(162, 82, 13, 1) 100%
  );
  --hypertext-underline-gradient: linear-gradient(
    0deg,
    #d9a849 0%,
    #a2520d 100%
  );
  --background-gradient: radial-gradient(
    131.8% 131.8% at 50% -31.8%,
    #d9a849 23%,
    #471d07 72.5%,
    #000000 100%
  );

  /*========== Fonts & typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --title-font: "Dune Rise";
  --h2-font: "Dune Rise";
  --nav-text-font: "Champagne & Limousines";
  --step--1: clamp(0.8681rem, 0.4rem + 2.8793cqi, 1.5rem);
  --step--2: clamp(1.3021rem, 0.273rem + 4.5735cqi, 3rem);
  --step--3: clamp(1.0851rem, 0.8926rem + 0.8555cqi, 1.4rem);
  /* --h1-font-size: 1.5rem;
    --h2-font-size: 1.5rem; */
  /*========== Z Index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-background: -1;
}

/*========================== BASE ======================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

@font-face {
  font-family: "Dune Rise";
  src: url("../fonts/Dune_Rise.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Champagne & Limousines";
  src: url("../fonts/Champagne_&_Limousines.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h2 {
  font-family: var(--h2-font);
  font-size: 1.5rem;
  padding-left: 0.7rem;
  padding-bottom: 0.5rem;
}

hr {
  height: 2px;
  background: var(--gradient-top);
  border: none;
}

ul {
  list-style: none;
  font-family: var(--nav-text-font);
}

textarea {
  resize: none;
}

/*========================== REUSABLE CSS CLASSES ======================*/

.container {
  max-width: 954px;
  margin-inline: 0.7rem;
  /* margin-inline: 15.188rem; */
}

#wrapper {
  display: flex;
  justify-content: center;
}

.main {
  overflow: hidden;
}

.secondary-title {
  margin-top: 90px;
}

.nav__logo img,
.footer__logo img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(126deg)
    brightness(110%) contrast(101%);
}

.nav__logo img:hover,
.footer__logo img:hover {
  filter: invert(67%) sepia(34%) saturate(706%) hue-rotate(1deg) brightness(97%)
    contrast(90%);
}

.main__separator hr {
  margin: 100px 20%;
  max-width: 466px;
  border-radius: 50%;
  background: var(--yellow-color);
}

.main__button {
  overflow: hidden;
  position: relative;
  padding: 10px 50px;
  font-family: var(--nav-text-font);
  font-size: 20px;
  background: none;
  left: 50%;
  transform: translateX(-50%);
  border-image: var(--button-gradient);
  border-image-slice: 1;
  cursor: pointer;
  transition: border-image 2s;

  &:after {
    background: var(--button-gradient);
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: var(--z-fixed);
  }
}

.main__button:hover {
  &:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.main__button a {
  transition: 0.5s;
}

.main__button:hover a {
  color: var(--yellow-color);
}

.list__button {
  margin-top: 50px;
}

.svg__resp {
  width: clamp(360px, 100%, 949px);
}

/* ==================================================== */
/* ======================= MAIN ======================= */
/* ==================================================== */

/*========================== HEADER & NAV ======================*/
.header {
  position: fixed;
  width: 100%;
  min-height: 75px;
  background: url(../img/header.svg) repeat-x;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__container {
  margin-inline: auto;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  cursor: pointer;
}

.nav__logo {
  color: var(--text-color);
  align-items: center;
  gap: 1rem;
  font-family: var(--title-font);
  text-decoration: none;
}

.nav__span {
  color: var(--yellow-color);
}

.nav__logo span {
  transition: 0.5s;
}

.nav__logo span:hover {
  color: var(--yellow-color);
}

.nav__menu a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.5s;
}

.nav__menu a:hover {
  color: var(--yellow-color);
}

.nav__actions {
  font-size: 1.25rem;
  column-gap: 0.5rem;
  align-items: center;
}

/* Navigation for mobile devices */

@media screen and (max-width: 992px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-image: var(--gradient-right);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  font-size: 1.25rem;
}

/* Show menu */

.show-menu {
  right: 0;
}

/*========================== MAIN ======================*/

.main__background {
  position: absolute;
  justify-content: center;
  background-image: var(--background-gradient);
  left: 0;
  width: 100%;
  height: 500px;
  z-index: var(--z-background);
}

.main__container {
  margin-bottom: 2rem;
}

.main__home {
  position: relative;
  text-align: center;
}

.main__gif {
  width: 100%;
}

.main__title {
  position: absolute;
  font-family: var(--h2-font);
  font-size: var(--step--2);
  color: var(--text-color);
  letter-spacing: var(--step--2);
  width: 1440px;
  left: calc(50% - 1440px / 2);
  bottom: 46%;
  text-shadow: -1px -1px 0 var(--brown-color), 0 -1px 0 var(--brown-color),
    1px -1px 0 var(--brown-color), 1px 0 0 var(--brown-color),
    1px 1px 0 var(--brown-color), 0 1px 0 var(--brown-color),
    -1px 1px 0 var(--brown-color), -1px 0 0 var(--brown-color);
}

.title-background__main {
  background-image: var(--gradient-bottom);
}

.main__description {
  text-align: center;
  font-family: var(--nav-text-font);
  font-size: var(--step--3);
}

.main__span {
  color: var(--yellow-color);
}

/* Carousel */

.carousel-box {
  position: relative;
  width: clamp(360px, 100%, 949px);
  /* padding-top: 50px; */
  display: flex;
  align-items: center;
}

.carousel {
  position: relative;
  width: 100vw;
  height: 550px;
  perspective: 150px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  margin-right: 20px;
}

.carousel.carousel-slider {
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px;
}

.carousel.carousel-slider .carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-item h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.carousel.carousel-slider .carousel-item p {
  font-size: 15px;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 250px;
  cursor: pointer;
  position: absolute;
  top: 13%;
  left: 0;
}

.carousel .carousel-item img {
  width: 235px;
  height: 319px;
  /* width: 25vmin;
  height: 35vmin; */
  border-radius: 10px;
  transform: translateX(8px) translateY(-100px);
  object-fit: cover;
  object-position: center;
}

.carousel .carousel-item > img {
  width: 100%;
}

.carousel-header {
  position: relative;
}

.carousel-description {
  position: absolute;
  background-color: var(--background-color);
  opacity: 0%;
  width: 235px;
  height: 80px;
  left: 3.2%;
  padding: 5px 10px;
  top: 45%;
  transition: 0.7s;
}

.carousel-item.active:hover .carousel-description p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--yellow-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--yellow-color);
  }
}

.carousel-item.active:hover .carousel-description {
  opacity: 100%;
}

.carousel .indicators {
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  text-align: center;
  top: 88%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: var(--text-color);
  transition: background-color 0.3s;
  border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
  background-color: var(--yellow-color);
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}

.carousel__background {
  position: absolute;
  z-index: var(--z-background);
  bottom: 0%;
}

/* Actors */

.actors__content-main,
.directors__content-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  padding-top: 10px;
}

.actor__card-main,
.director__card-main {
  position: relative;
  text-align: center;
  width: clamp(150px, 39vw, 220px);
}

.actor__card-main img,
.director__card-main img {
  object-fit: fill;
  width: clamp(150px, 100%, 220px);
}

.actor__figcaption-main,
.director__figcaption-main {
  position: absolute;
  width: 100%;
  padding: 10px 0px;
  bottom: 0;
  font-family: var(--nav-text-font);
  font-size: var(--step--1);
  background-color: var(--brown-color);
}

.actors__background-main,
.directors__background-main {
  padding-top: 10px;
  /* width: clamp(150px, 39vw, 360px); */
}

/*========================== FOOTER ======================*/
.footer {
  position: relative;
  background-color: var(--brown-color);
  padding-block: 1rem 2rem;
  margin-top: 100px;
}

.footer__svg {
  position: absolute;
  background: url(../img/footer.svg) repeat-x;
  width: 100%;
  height: 56px;
  top: -50px;
}

.footer__container {
  text-align: center;
}

.footer__title {
  font-family: var(--nav-text-font);
  font-size: var(--step--3);
}

.footer__social {
  display: flex;
  justify-content: center;
  font-size: var(--step--2);
  gap: 35px;
  padding: 10px 0px;
}

.footer__hr {
  background: var(--text-color);
}

.footer__content {
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 50px;
  text-align: left;
}

.footer__links {
  padding-top: 10px;
}

.footer__copy {
  padding: 20px 0px;
}

.footer__logo {
  justify-content: center;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--title-font);
  text-decoration: none;
}

/* ==================================================== */
/* ====================== LISTS ======================= */
/* ==================================================== */

.listMovies__container,
.listActors__container,
.listDirectors__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card__description-listMovies {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movie__card-listMovies,
.actor__card-listActors,
.director__card-listDirectors {
  text-align: center;
  font-family: var(--nav-text-font);
  /* font-size: var(--step--1); */
  width: 150px;
  height: 200px;
  margin-bottom: 30px;
}

.movie__card-listMovies img,
.actor__card-listActors img,
.director__card-listDirectors img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}

/* ==================================================== */
/* ===================== DETAILS ====================== */
/* ==================================================== */

.movie__header-movieDetails {
  display: grid;
  justify-content: center;
  margin: 3rem 0rem;
}

.movie__edit-movieDetails {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.movie__edit-movieDetails i:hover {
  color: var(--yellow-color);
} 

.movie__poster-movieDetails img {
  width: 250px;
  height: 350px;
}

.movie__casting-movieDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.movie__castingcard-movieDetails {
  text-align: center;
  font-family: var(--nav-text-font);
  width: 150px;
  height: 230px;
  margin-bottom: 30px;
}

.movie__castingcard-movieDetails img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}

.movie__information-movieDetails h3,
.movie__information-movieDetails,
.movie__synopsis-movieDetails h3 {
padding-bottom: 10px;
}

.movie__description-movieDetails,
.movie__casting-movieDetails {
padding: 10px 0px;
}

#movie__castingh3-movieDetails {
  padding-top: 10px;
}

#synopsis {
  max-width: 954px;
  line-height: 1.2em;
}

.read-btn {
  display: flex;
  justify-content: center;
}

#read-more-btn,
#read-less-btn {
  padding: 20px 0px;
  font-size: 30px;
  cursor: pointer;
}

#read-more-btn:hover,
#read-less-btn:hover {
  color: var(--yellow-color);
  animation: vertical-shaking 0.35s infinite;
}

@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(5px) }
  50% { transform: translateY(-5px) }
  75% { transform: translateY(5px) }
  100% { transform: translateY(0) }
}

.castingcard__edit-movieDetails {
  padding-top: 5px;
}

/* ==================================================== */
/* ================== MEDIA QUERIES =================== */
/* ==================================================== */

/* For small devices*/
@media screen and (min-width: 576px) {
  .carousel {
    perspective: 300px;
  }
}

/* For medium devices*/
@media screen and (min-width: 768px) {
  .carousel {
    perspective: 500px;
  }
}

/* For large devices*/
@media screen and (min-width: 992px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .carousel {
    perspective: 700px;
  }
}

/* For extra large devices */
@media screen and (min-width: 1200px) {
}

/* For extra extra large devices */
@media screen and (min-width: 1400px) {
}
