/* ==================================================== */
/* ================== VARIABLES CSS =================== */
/* ==================================================== */
:root {
  --header-height: 3.5rem;
  --footer-height: 3.5rem;
  /*========== Colors ==========*/
  --background-color: #000000;
  --brown-color: #471d07;
  --orange-color: #a2520d;
  --yellow-color: #d9a849;
  --text-color: #ffffff;
  --gradient-top: linear-gradient(90deg, #d9a849 0%, #a2520d 100%);
  --gradient-left: linear-gradient(90deg,
      rgba(162, 82, 13, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%);
  --gradient-right: linear-gradient(90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(162, 82, 13, 0.5) 100%);
  --gradient-bottom: linear-gradient(359.4deg,
      rgba(162, 82, 13, 0.5) 0.52%,
      rgba(0, 0, 0, 0.5) 99.48%);
  --button-gradient: linear-gradient(90deg,
      rgba(217, 168, 73, 1) 0%,
      rgba(162, 82, 13, 1) 100%);
  --hypertext-underline-gradient: linear-gradient(0deg,
      #d9a849 0%,
      #a2520d 100%);
  --background-gradient: radial-gradient(131.8% 131.8% at 50% -31.8%,
      #d9a849 23%,
      #471d07 72.5%,
      #000000 100%);

  /*========== Fonts & typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --title-font: "Dune Rise";
  --h2-font: "Dune Rise";
  --nav-text-font: "Champagne & Limousines";
  --step--1: clamp(0.8681rem, 0.4rem + 2.8793cqi, 1.5rem);
  --step--2: clamp(1.3021rem, 0.273rem + 4.5735cqi, 3rem);
  --step--3: clamp(1.0851rem, 0.8926rem + 0.8555cqi, 1.4rem);
  /*========== Z Index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-background: -1;
}

/*========================== BASE ======================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

@font-face {
  font-family: "Dune Rise";
  src: url("../fonts/Dune_Rise.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Champagne & Limousines";
  src: url("../fonts/Champagne_&_Limousines.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h2 {
  font-family: var(--h2-font);
  font-size: 1.5rem;
  /* padding-left: 0.7rem; */
  padding-bottom: 0.5rem;
}

hr {
  height: 2px;
  background: var(--gradient-top);
  border: none;
}

ul {
  list-style: none;
  font-family: var(--nav-text-font);
}

textarea {
  resize: none;
}

/*========================== REUSABLE CSS CLASSES ======================*/

/* section {
  min-height: 450px;
} */

.container {
  width: clamp(330px, 80vw, 954px);
  margin-inline: 0.7rem;
}

#wrapper {
  display: flex;
  justify-content: center;
}

.main {
  overflow: hidden;
}

.secondary-title {
  max-width: 954px;
  margin-left: .7rem;
  margin-top: 90px;
  margin-bottom: 20px;
}

.fa-backward-step:hover {
  color: var(--yellow-color);
}

.nav__logo img,
.footer__logo img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(126deg) brightness(110%) contrast(101%);
}

.nav__logo img:hover,
.footer__logo img:hover {
  filter: invert(67%) sepia(34%) saturate(706%) hue-rotate(1deg) brightness(97%) contrast(90%);
}

.main__separator hr {
  margin: 100px 20%;
  max-width: clamp(330px, 80vw, 954px);
  border-radius: 50%;
  background: var(--yellow-color);
}

.main__button {
  overflow: hidden;
  position: relative;
  padding: 10px 50px;
  font-family: var(--nav-text-font);
  font-size: 20px;
  color: var(--text-color);
  background: none;
  left: 50%;
  transform: translateX(-50%);
  border-image: var(--button-gradient);
  border-image-slice: 1;
  cursor: pointer;
  transition: border-image 2s;

  &:after {
    background: var(--button-gradient);
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: var(--z-fixed);
  }
}

.main__button:hover {
  &:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.main__button a {
  transition: 0.5s;
}

.main__button span {
  transition: 0.5s;
}

.main__button:hover a {
  color: var(--yellow-color);
}

.main__button:hover span {
  color: var(--yellow-color);
}

.list__button {
  margin-top: 50px;
}

.svg__resp {
  width: clamp(360px, 100%, 949px);
}

/* ==================================================== */
/* ======================= MAIN ======================= */
/* ==================================================== */

/*========================== HEADER & NAV ======================*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 75px;
  background: url(../img/header.svg) repeat-x;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  max-width: 954px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: .7rem;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  cursor: pointer;
}

.nav__logo {
  color: var(--text-color);
  align-items: center;
  column-gap: 1rem;
  font-family: var(--title-font);
  text-decoration: none;
}

.nav__span {
  color: var(--yellow-color);
}

.nav__logo span {
  transition: 0.7s;
}

.nav__logo span:hover {
  color: var(--yellow-color);
}

.nav__menu a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.5s;
}

.nav__menu a:hover {
  color: var(--yellow-color);
}

.nav__actions {
  font-size: 1.25rem;
  column-gap: 0.5rem;
  align-items: center;
}

.nav__actions i {
  transition: .7s;
}

.nav__actions i:hover {
color: var(--yellow-color);
}

.nav__profile-picture {
  overflow: hidden;
  filter: grayscale(1);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  transition: .7s;
}

.nav__profile-picture img {
  object-fit: cover;
  width: 33px;
  height: 33px;
}

.nav__profile-picture:hover {
  filter: grayscale(0);
}

/* Navigation for mobile devices */

@media screen and (max-width: 992px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-image: var(--gradient-right);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  font-size: 1.25rem;
}

/* Show menu */

.show-menu {
  right: 0;
}

/*========================== MAIN ======================*/

.main__background {
  position: absolute;
  justify-content: center;
  background: var(--background-gradient);
  left: 0;
  width: 100%;
  height: 500px;
  z-index: var(--z-background);
}

.main__container {
  margin-bottom: 2rem;
}

.main__home {
  position: relative;
  text-align: center;
}

.main__gif {
  width: 100%;
}

.main__title {
  position: absolute;
  font-family: var(--h2-font);
  font-size: var(--step--2);
  color: var(--text-color);
  letter-spacing: var(--step--2);
  width: 1440px;
  left: calc(50% - 1440px / 2);
  bottom: 46%;
  text-shadow: -1px -1px 0 var(--brown-color), 0 -1px 0 var(--brown-color),
    1px -1px 0 var(--brown-color), 1px 0 0 var(--brown-color),
    1px 1px 0 var(--brown-color), 0 1px 0 var(--brown-color),
    -1px 1px 0 var(--brown-color), -1px 0 0 var(--brown-color);
}

.title-background__main {
  background-image: var(--gradient-bottom);
}

.main__description {
  text-align: center;
  font-family: var(--nav-text-font);
  font-size: var(--step--3);
}

.main__span {
  color: var(--yellow-color);
}

/* Carousel */

.carousel-box {
  position: relative;
  width: clamp(360px, 100%, 949px);
  /* padding-top: 50px; */
  display: flex;
  align-items: center;
}

.carousel {
  position: relative;
  width: 100vw;
  height: 550px;
  perspective: 150px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  margin-right: 20px;
}

.carousel.carousel-slider {
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px;
}

.carousel.carousel-slider .carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-item h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.carousel.carousel-slider .carousel-item p {
  font-size: 15px;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 250px;
  cursor: pointer;
  position: absolute;
  top: 13%;
  left: 0;
}

.carousel .carousel-item img {
  width: 235px;
  height: 319px;
  /* width: 25vmin;
  height: 35vmin; */
  border-radius: 10px;
  transform: translateX(8px) translateY(-100px);
  object-fit: cover;
  object-position: center;
}

.carousel .carousel-item>img {
  width: 100%;
}

.carousel-header {
  position: relative;
}

.carousel-description {
  position: absolute;
  background-color: var(--background-color);
  opacity: 0%;
  width: 235px;
  height: 80px;
  left: 3.2%;
  padding: 5px 10px;
  top: 45%;
  transition: 0.7s;
}

.carousel-item.active:hover .carousel-description p {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--yellow-color);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--yellow-color);
  }
}

.carousel-item.active:hover .carousel-description {
  opacity: 100%;
}

.carousel .indicators {
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  text-align: center;
  top: 88%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: var(--text-color);
  transition: background-color 0.3s;
  border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
  background-color: var(--yellow-color);
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}

.carousel__background {
  position: absolute;
  z-index: var(--z-background);
  bottom: 0%;
}

/* Actors */

.actors__content-main,
.directors__content-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  padding-top: 10px;
}

.actor__card-main,
.director__card-main {
  position: relative;
  text-align: center;
  width: clamp(150px, 39vw, 220px);
}

.actor__card-main img,
.director__card-main img {
  object-fit: fill;
  width: clamp(150px, 100%, 220px);
}

.actor__figcaption-main,
.director__figcaption-main {
  position: absolute;
  width: 100%;
  padding: 10px 0px;
  bottom: 0;
  font-family: var(--nav-text-font);
  font-size: var(--step--1);
  background-color: var(--brown-color);
}

.actors__background-main,
.directors__background-main {
  padding-top: 10px;
  /* width: clamp(150px, 39vw, 360px); */
}

/*========================== FOOTER ======================*/

.footer {
  position: relative;
  left: 0px;
  bottom: 0%;
  width: 100%;
  /* min-height: 55vh; */
  background-color: var(--brown-color);
  padding-block: 1rem 2rem;
  margin-top: 100px;
}

.footer__svg {
  position: absolute;
  background: url(../img/footer.svg) repeat-x;
  width: 100%;
  height: 56px;
  top: -50px;
}

.footer__container {
  text-align: center;
}

.footer__title {
  font-family: var(--nav-text-font);
  font-size: var(--step--3);
}

.footer__social {
  display: flex;
  justify-content: center;
  font-size: var(--step--2);
  gap: 35px;
  padding: 10px 0px;
}

.footer__content {
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 50px;
  text-align: left;
}

.footer__links {
  padding-top: 10px;
}

.footer__copy {
  padding: 20px 0px;
}

.footer__logo {
  justify-content: center;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--title-font);
  text-decoration: none;
}

/* ==================================================== */
/* ====================== LISTS ======================= */
/* ==================================================== */

.listMovies__container,
.listActors__container,
.listDirectors__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.listRoles__container,
.listThemes__container {
  line-height: 2rem;
}

.card__description-listMovies,
.filmographycard__description-personDetails {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movie__card-listMovies,
.actor__card-listActors,
.director__card-listDirectors {
  text-align: center;
  font-family: var(--nav-text-font);
  width: 150px;
  height: 200px;
  margin-bottom: 30px;
}

.movie__card-listMovies img,
.actor__card-listActors img,
.director__card-listDirectors img {
  object-fit: fill;
  width: 150px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  transition: .7s;
}

.listMovies__container:hover .movie__card-listMovies img,
.listActors__container:hover .actor__card-listActors img,
.listDirectors__container:hover .director__card-listDirectors img {
  filter: grayscale(1)
}

.listMovies__container .movie__card-listMovies img:hover,
.listActors__container .actor__card-listActors img:hover,
.listDirectors__container .director__card-listDirectors img:hover {
  filter: grayscale(0);
}

.card__header-listMovies,
.card__header-listActors,
.card__header-listDirectors {
  position: relative;
  overflow: hidden;
}

.bg-card-hover {
  position: absolute;
  top: 80%;
  width: 150px;
  height: 205px;
  color: var(--background-color);
  background-color: var(--background-color);
  opacity: 0%;
  transition: .7s;
}

.card__header-listMovies:hover .bg-card-hover,
.card__header-listActors:hover .bg-card-hover,
.card__header-listDirectors:hover .bg-card-hover {
  opacity: 100%;
}

.text-hover {
  color: var(--text-color);
  text-align: left;
  padding-left: 5px;
  font-size: 1rem;
}

/* ==================================================== */
/* ===================== DETAILS ====================== */
/* ==================================================== */

.movie__header-movieDetails,
.person__header-personDetails {
  display: grid;
  justify-content: center;
  margin: 3rem 0rem;
}

.movie__edit-movieDetails,
.person__edit-personDetails {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.movie__edit-movieDetails i:hover,
.person__edit-personDetails i:hover {
  color: var(--yellow-color);
}

.movie__poster-movieDetails img,
.person__picture-personDetails img {
  width: 250px;
  height: 350px;
}

.movie__casting-movieDetails,
.person__filmography-personDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.role__casting-roleDetails,
.theme__movie-themeDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movie__castingcard-movieDetails,
.person__filmographycard-personDetails,
.role__castingcard-roleDetails,
.theme__moviecard-themeDetails {
  text-align: center;
  font-family: var(--nav-text-font);
  width: 150px;
  height: 200px;
  margin-bottom: 30px;
}

.movie__castingcard-movieDetails img,
.person__filmographycard-personDetails img,
.role__castingcard-roleDetails img,
.theme__moviecard-themeDetails img {
  width: 150px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  transition: .7s;
}

.movie__casting-movieDetails:hover .movie__castingcard-movieDetails img,
.person__filmography-personDetails:hover .person__filmographycard-personDetails img {
  filter: grayscale(1)
}

.movie__casting-movieDetails .movie__castingcard-movieDetails img:hover,
.person__filmography-personDetails .person__filmographycard-personDetails img:hover {
  filter: grayscale(0);
}

.movie__information-movieDetails h3,
.movie__information-movieDetails,
.movie__synopsis-movieDetails h3,
.person__information-personDetails h3,
.person__information-personDetails,
.person__description-personDetails,
.person__biography-personDetails h3 {
  padding-bottom: 10px;
}

.movie__description-movieDetails,
.movie__casting-movieDetails,
.person__description-personDetails,
.person__filmography-personDetails {
  padding: 10px 0px;
}

.movie__casting-movieDetails {
  padding-bottom: 40px;
}

#movie__castingh3-movieDetails,
.person__filmographyh3-personDetails {
  padding-top: 10px;
}

#description {
  max-width: 954px;
  line-height: 1.2em;
  overflow: hidden;
}

.read-btn {
  display: flex;
  justify-content: center;
}

#read-more-btn,
#read-less-btn {
  padding: 20px 0px;
  font-size: 30px;
  cursor: pointer;
}

#read-more-btn:hover,
#read-less-btn:hover {
  color: var(--yellow-color);
  animation: vertical-shaking 0.35s infinite;
}

@keyframes vertical-shaking {
  0% {
    transform: translateY(0)
  }

  25% {
    transform: translateY(5px)
  }

  50% {
    transform: translateY(-5px)
  }

  75% {
    transform: translateY(5px)
  }

  100% {
    transform: translateY(0)
  }
}

.castingcard__edit-movieDetails {
  padding-top: 5px;
}

.role__header-roleDetails,
.theme__header-themeDetails {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  column-gap: 25px;
}

.castingcard__descriptionMovie-roleDetails,
.moviecard__descriptionMovie-themeDetails {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ==================================================== */
/* ====================== FORMS ======================= */
/* ==================================================== */

.addMovie__container,
.addPerson__container,
.addRole__container,
.addTheme__container,
.addCasting__container,
.editMovie__container,
.editPerson__container,
.editTheme__container,
.login__container,
.register__container {
  display: flex;
  justify-content: center;
}

.addMovie__container label,
.addPerson__container label,
.addRole__container label,
.addTheme__container label,
.addCasting__container label,
.editMovie__container label,
.editPerson__container label,
.editTheme__container label,
.login__container label,
.register__container label {
  text-align: center;
  font-family: var(--nav-text-font);
  margin-bottom: 5px;
}

.form__group {
  display: grid;
  margin-bottom: 15px;
}

.themeLabel {
  display: grid;
}

.checkbox-container {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-auto-rows: 20px;
  grid-gap: 5px;
  padding-top: 10px;
}

input[type=checkbox],
input[type=radio] {
  accent-color: var(--yellow-color);
}

.editMovie-poster,
.editPerson-picture {
  margin-top: 15px;
  width: 160px;
  height: 230px;
}

.showPassword {
  margin-right: 10px;
  margin-bottom: 25px;
}

/* ==================================================== */
/* ================== MEDIA QUERIES =================== */
/* ==================================================== */

/* Responsive Modal*/
@media screen and (min-width: 360px) {
  .modal,
  .modal2 {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 0.4rem;
    width: clamp(280px, 100px, 400px);
    padding: 1.3rem;
    top: 25%;
    left: 5%;
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 15px;
    z-index: var(--z-tooltip)
  }
}

/* For small devices*/
@media screen and (min-width: 576px) {
  .carousel {
    perspective: 300px;
  }

  .modal,
  .modal2 {
    width: 420px;
    left: 20%;
  }
}

/* For medium devices*/
@media screen and (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }

  .carousel {
    perspective: 500px;
  }

  .modal,
  .modal2 {
    left: 30%;
  }
}

/* For large devices*/
@media screen and (min-width: 992px) {
  body {
    background: url(../img/testfond.svg) repeat-y;
    background-size: 100%;
    background-color: var(--background-color);
  }

  body.hide-bg {
    background: none;
    background-color: var(--background-color);
  }

  .nav {
    margin-inline: auto;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .carousel {
    perspective: 700px;
  }

  .modal,
  .modal2 {
    left: 40%;
  }
}

/* For extra large devices */
@media screen and (min-width: 1200px) {}

/* For extra extra large devices */
@media screen and (min-width: 1400px) {
  .container {
    min-height: 310px;
  }
}

/* Modal */

.modal .flex,
.modal2 .flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal h3,
.modal2 h3 {
  color: var(--text-color);
  padding-bottom: 15px;
}

.btn-close2,
.btn-close3 {
  color: var(--text-color);
}

.btn-openModal,
.btn-openModal2 {
  cursor: pointer;
}

.btn-close,
.btn-close3 {
  position: absolute;
  top: 5%;
  left: 92%;
  cursor: pointer;
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 50%;
  border: 2px solid var(--yellow-color);
  transition: .7s;
}

.btn-close:hover,
.btn-close3:hover {
  background-color: #d9a849;
}

.btn-close p,
.btn-close3 p {
  transition: .7s;
}

.btn-close:hover p,
.btn-close3:hover p {
  color: var(--background-color);
}

.modal .btn,
.modal .btn-close2,
.modal2 .btn2 {
  width: 250px;
  margin-bottom: 15px;
}

.overlay,
.overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.hidden2 {
  display: none;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .7rem;
  background-color: hsl(228, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 4%, 25%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 4%, 35%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 3rem;
  bottom: -50%;
  color: var(--background-color);
  background-color: var(--yellow-color);
  border-radius: 50%;
  display: inline-flex;
  padding: 15px;
  font-size: 1.5rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

@keyframes vertical-shaking {
  0% {
    transform: translateY(0)
  }

  25% {
    transform: translateY(5px)
  }

  50% {
    transform: translateY(-5px)
  }

  75% {
    transform: translateY(5px)
  }

  100% {
    transform: translateY(0)
  }
}

.scrollup:hover {
  transform: translateY(-.5rem);
  color: var(--yellow-color);
  background-color: var(--background-color);
  animation: vertical-shaking .35s infinite;
}

.show-scroll {
  bottom: 3rem;
}